<div class="flex items-center gap-2">
  <!-- slot: post-share-left.html -->
  {{ if fileExists "layouts/partials/post-share-left.html" }}
    {{ partial "post-share-left.html" . }}
  {{ end }}

  {{ $shares := slice "paper-plane" "logo-whatsapp" }}
  {{ $shareTitles := dict
    "facebook" "Facebook"
    "whatsapp" "WhatsApp"
  }}
  {{ $shareLinks := dict
    "paper-plane" (print "https://t.me/Maks_svarka?text=" .Permalink)
    "logo-whatsapp" (print "https://wa.me/79495102777?text=" .Title " " .Permalink)
  }}
  {{ if site.Params.reorderShares }}
    {{ $shares = site.Params.reorderShares }}
  {{ end }}
  {{ range $shares }}
    <a class="group inline-flex items-center p-2 rounded-full cursor-pointer hover:bg-primary"
      href="{{ index $shareLinks . }}" target="_blank" rel="noopener noreferrer"
      title="Share on {{ index $shareTitles . }}">
      <ion-icon class="group-hover:text-primary-content" name="{{ . }}"></ion-icon>
    </a>
  {{ end }}

  <!-- slot: post-share-right.html -->
  {{ if fileExists "layouts/partials/post-share-right.html" }}
    {{ partial "post-share-right.html" . }}
  {{ end }}
</div>
